@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


html {
    background-color: #c0c0cc;
    background-image: url(/img/gyógyszer.jpeg) ;
    background-position:;
}

h1 {
    color: crimson;
    font-family: roboto;
    text-align: center;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#bio-header {
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#skills-header{
    color: rgb(80, 255, 95);
}

.content {
    color: rgb(17, 53, 129);
    font-size: 24px;
    text-align: justify;
    text-transform: capitalize;
    line-height: 30px;
    font-weight: 400;
    margin: 10px 20px 30px 0;
    padding: 10px 0 0 0;
    border: solid 2px blue;
    max-width: width 100%; ;

}
.kiemelés{
    font-weight: bold;
}
.img-div{
    background-color: cyan;
}

img{
    width: 14%;
    box-shadow:3px 3px 12px black ;
    margin: 1%;
}
#img-1{
  display: inline;
  visibility: visible;
    position:;
    
}
    